In [2]:
import os
import pandas as pd
import numpy as np

In [5]:
os.chdir("Desktop")
os.chdir("Datasets")

In [6]:
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

In [7]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [9]:
df["Recommended IND"].value_counts(normalize=True)

1    0.822362
0    0.177638
Name: Recommended IND, dtype: float64

In [ ]:
#Class imbalance- we may have to use oversampling for this dataset

In [13]:
df.drop(["Unnamed: 0"],1,inplace=True)

In [14]:
rev = df["Review Text"]

In [15]:
rev.head()

0    Absolutely wonderful - silky and sexy and comf...
1    Love this dress!  it's sooo pretty.  i happene...
2    I had such high hopes for this dress and reall...
3    I love, love, love this jumpsuit. it's fun, fl...
4    This shirt is very flattering to all due to th...
Name: Review Text, dtype: object

In [34]:
y= df["Recommended IND"]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [31]:
tfidf= TfidfVectorizer(stop_words= "english")

In [32]:
count_vec= CountVectorizer(stop_words= "english")

In [33]:
from sklearn.model_selection import train_test_split as tts

In [167]:
X_train, X_test, y_train, y_test= tts(df["Review Text"], y, test_size=0.3, random_state= 42)

In [168]:
#First with count vectorizer

X_train_cv= count_vec.fit_transform(X_train.values.astype('U'))

In [169]:
X_test_cv= count_vec.transform(X_test.values.astype("U"))

In [170]:
X_train_cv.shape

(16440, 11922)

In [171]:
X_test_cv.shape

(7046, 11922)

In [43]:
from sklearn.naive_bayes import MultinomialNB

In [44]:
nb = MultinomialNB()

In [45]:
nb.fit(X_train_cv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [46]:
y_pred_nb= nb.predict(X_test_cv)

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
accuracy_score(y_test, y_pred_nb)

0.8883054215157536

In [51]:
from sklearn.metrics import roc_auc_score, confusion_matrix, classification_report

In [50]:
roc_auc_score(y_test, y_pred_nb)

0.7805231041033309

In [52]:
confusion_matrix(y_test, y_pred_nb)

array([[ 771,  487],
       [ 300, 5488]])

In [53]:
classification_report(y_test,y_pred_nb)

'              precision    recall  f1-score   support\n\n           0       0.72      0.61      0.66      1258\n           1       0.92      0.95      0.93      5788\n\n   micro avg       0.89      0.89      0.89      7046\n   macro avg       0.82      0.78      0.80      7046\nweighted avg       0.88      0.89      0.88      7046\n'

In [ ]:
#False positives are higher than false negatives

In [54]:
#Now lets add the rest of the features to see if this improves the model

df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [84]:
df["Clothing ID"].value_counts()

1078    1024
862      806
1094     756
1081     582
872      545
829      527
1110     480
868      430
895      404
936      358
867      351
850      338
1095     327
863      306
1077     297
1059     294
1086     291
1080     289
860      288
1083     249
861      244
873      238
828      225
1092     220
1033     220
927      214
1056     213
820      211
836      205
1022     205
        ...
88         1
72         1
56         1
1191       1
1175       1
1183       1
1127       1
887        1
600        1
648        1
680        1
712        1
137        1
105        1
89         1
73         1
57         1
41         1
25         1
9          1
1176       1
1160       1
1032       1
856        1
808        1
792        1
776        1
744        1
728        1
0          1
Name: Clothing ID, Length: 1206, dtype: int64

In [59]:
df2= df[["Age", "Positive Feedback Count", "Division Name", "Department Name", "Class Name"]]

In [61]:
X_other= pd.get_dummies(df2)

In [67]:
X_train, X_test, y_train, y_test = tts(X_other, y, test_size=0.3, random_state=42)

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
logreg= LogisticRegression()

In [70]:
logreg.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [71]:
y_pred_logreg= logreg.predict(X_test)

In [72]:
accuracy_score(y_test, y_pred_logreg)

0.8210332103321033

In [73]:
roc_auc_score(y_test, y_pred_logreg)

0.5000519137780814

In [74]:
#We can see that using the Reviews column alone provides a much higher score for ROC AUC curve

In [81]:
X_rev = pd.DataFrame(X_train_cv.toarray(), columns = count_vec.get_feature_names())

In [82]:
X_rev.head()

,00,000,00p,02,03,04,06,0dd,0in,0p,...,zippers,zippie,zipping,zips,zombie,zone,zoolander,zoom,zuma,ã¼ber
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [138]:
"user_"+ str(df.index[0])

'user_user_0'

In [87]:
for x in df.index:
    "user_"+ str(df.index[x])

In [91]:
new_index = ["user_"+str(x) for x in df.index ]

In [92]:
df.index= new_index

In [139]:
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
user_0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
user_1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
user_2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
user_3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
user_4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [140]:
train, test = tts(df, test_size=0.3)

In [141]:
reviews =train[["Review Text"]]
indices= reviews.index

In [142]:
X_train_reviews= count_vec.fit_transform(reviews["Review Text"].values.astype('U'))

In [143]:
other_train= train.drop(["Review Text"],1)

In [144]:
other_train = pd.get_dummies(other_train)

In [145]:
reviews_train = pd.DataFrame(X_train_reviews.toarray(), columns = count_vec.get_feature_names(), index= indices)

In [146]:
len(reviews_train)

16440

In [147]:
len(other_train)

16440

In [148]:
X_train = pd.concat([reviews_train,other_train], 1)

In [149]:
X_train.head()

,00,00p,02,03,04,06,0dd,0in,0p,0petite,...,Class Name_Legwear,Class Name_Lounge,Class Name_Outerwear,Class Name_Pants,Class Name_Shorts,Class Name_Skirts,Class Name_Sleep,Class Name_Sweaters,Class Name_Swim,Class Name_Trend
user_17150,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_2276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
user_11634,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_5849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_4499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
#Now let us prepare the X_test set in the same way as above

In [150]:
reviews =test[["Review Text"]]
indices= reviews.index 
X_test_reviews= count_vec.transform(reviews["Review Text"].values.astype('U'))
other_test= test.drop(["Review Text"],1)
other_test = pd.get_dummies(other_test)
reviews_test = pd.DataFrame(X_test_reviews.toarray(), columns = count_vec.get_feature_names(), index= indices)
X_test = pd.concat([reviews_test,other_test], 1)

In [154]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [159]:
X_test.shape

(7046, 16659)

In [160]:
y_test.shape

(7046,)

In [161]:
X_train.shape

(16440, 22167)

In [ ]:
#Order of operations
#for the review column we just need to add back the vector and then split into train and test

In [173]:
X_train,X_test= tts(df["Review Text"], test_size=0.3)

In [177]:
X_train_rev= count_vec.fit_transform(X_train.values.astype("U"))

In [178]:
X_test_rev= count_vec.transform(X_test.values.astype("U"))

In [181]:
train_index= X_train.index

In [182]:
test_index= X_test.index

In [184]:
X_train_df= pd.DataFrame(X_train_rev.toarray(), columns = count_vec.get_feature_names(), index= train_index)

In [186]:
X_test_df= pd.DataFrame(X_test_rev.toarray(), columns = count_vec.get_feature_names(), index=test_index)

In [187]:
reviews_train= pd.concat([X_train_df, X_test_df])

In [190]:
df = df.join(reviews_train)

In [191]:
df.drop(["Review Text"],1, inplace=True)

In [192]:
df.head()

,Clothing ID,Age,Title,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,00,...,zippered,zippers,zippie,zipping,zips,zone,zoom,zooming,zuma,ã¼ber
user_0,767,33,NaN,4,1,0,Initmates,Intimate,Intimates,0,...,0,0,0,0,0,0,0,0,0,0
user_1,1080,34,NaN,5,1,4,General,Dresses,Dresses,0,...,0,0,0,0,0,0,0,0,0,0
user_2,1077,60,Some major design flaws,3,0,0,General,Dresses,Dresses,0,...,0,0,0,0,0,0,0,0,0,0
user_3,1049,50,My favorite buy!,5,1,0,General Petite,Bottoms,Pants,0,...,0,0,0,0,0,0,0,0,0,0
user_4,847,47,Flattering shirt,5,1,6,General,Tops,Blouses,0,...,0,0,0,0,0,0,0,0,0,0

In [193]:
df= pd.get_dummies(df)

In [196]:
test_set= list(test_index)

In [202]:
list_df= []
for x in df.index:
    if x in test_set:
        list_df.append(df.loc[x])

In [207]:
len(list_df[0])

25847

In [209]:
test_set= pd.DataFrame(list_df, columns=df.columns)

In [210]:
test_set.head()

,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,00,00p,02,03,03dd,...,Class Name_Legwear,Class Name_Lounge,Class Name_Outerwear,Class Name_Pants,Class Name_Shorts,Class Name_Skirts,Class Name_Sleep,Class Name_Sweaters,Class Name_Swim,Class Name_Trend
user_1,1080,34,5,1,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_5,1080,49,2,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_8,1077,24,5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_14,1077,50,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_15,1065,47,4,1,3,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [218]:
#Now repeat the same as above except with the training set

train_set = list(train_index)

In [219]:
list_train= []
for x in df.index:
    if x in train_set:
        list_train.append(df.loc[x])

In [220]:
train_set= pd.DataFrame(list_train, columns=df.columns)

In [221]:
train_set.head()

,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,00,00p,02,03,03dd,...,Class Name_Legwear,Class Name_Lounge,Class Name_Outerwear,Class Name_Pants,Class Name_Shorts,Class Name_Skirts,Class Name_Sleep,Class Name_Sweaters,Class Name_Swim,Class Name_Trend
user_0,767,33,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_2,1077,60,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_3,1049,50,5,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
user_4,847,47,5,1,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
user_6,858,39,5,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
X_train = train_set

In [226]:
X_test= test_set

In [229]:
logreg.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [230]:
logreg= logreg.predict(X_test)

In [231]:
roc_auc_score(y_test, logreg)

0.4942154592089549

In [232]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [233]:
nb_pred= nb.predict(X_test)

In [234]:
roc_auc_score(y_test, nb_pred)

0.5014357318414394

In [235]:
accuracy_score(y_test, nb_pred)

0.8130854385466931